@for $i from 0 to 150 {
  //.padding-#{$i}-left {
  //  padding-left: $i + px;
  //}
  .top#{$i} {
    margin-top: $i + px!important;
  }
  .left#{$i} {
    margin-left: $i + px!important;
  }
  .right#{$i} {
    margin-right: $i + px!important;
  }
  .bottom#{$i} {
    margin-bottom: $i + px!important;
  }
}
